<p *ngIf="data?.status == 'OK-UPDATE'">
    Cuando ingresa por 1era vez, debe cambiar su contrase&ntilde;a
</p>

<p *ngIf="data?.status == 'OK-RESET'">
    Actualice su password por favor
</p>

<p *ngIf="data?.status.indexOf('OK-') < 0">
    {{data.error}}
</p>

<form *ngIf="data?.status == 'OK-UPDATE' " class="example-form">
    <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit('OK-UPDATE')">
  
        <div class="example-full-width">
            <input matInput placeholder="New Password" [(ngModel)]="password"type="password" name="password" required>
        </div>
  
        <button type="submit" mat-fab color="primary" [disabled]="myform.invalid">Enviar</button>
      </form>
</form>

<form *ngIf="data?.status == 'OK-RESET' " class="example-form">
    <form #myform="ngForm" class="example-form" (ngSubmit)="onSubmit('OK-RESET')">
        <div class="example-full-width">
            <input matInput placeholder="Verification Code" [(ngModel)]="datosChangePassword.verificationCode" type="password" name="datosChangePassword.verificationCode" required>
        </div>
        <div class="example-full-width">
            <input matInput placeholder="New Password" [(ngModel)]="datosChangePassword.newPassword" type="password" name="datosChangePassword.newPassword" required>
        </div>
      
        <button type="submit" mat-fab color="primary" [disabled]="myform.invalid">Enviar</button>
    </form>
</form>

<a [routerLink]="['/login']">Volver al login</a>
