<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>4<span></span>4</h1>
            </div>
            <h2>Oops! Página no encontrada</h2>
            <p>Lo sentimos, la página que estas buscando no existe, ha sido eliminada o se encuentra temporalmente desactivada</p>
            <a [routerLink]="['/login']">Volver al login</a>
        </div>
    </div>

</body>
