<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Bienvenido</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" [(ngModel)]="login.username" name="login.username" required/>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" [(ngModel)]="login.password" type="password" name="login.password"
            required/>
            <div class="wrapper">
            <span class="group-btn">     
                <button (click)="doLogin()" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>