<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Profesion</th>
        <th scope="col">Lugar de trabajo</th>
        <th scope="col">Resultado Encuesta</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of encuestas?.lObj">
          
          <td class="hidden-xs">{{item.id}}</td>
          <td>{{item.nombres}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.edad}}</td>
          <td>{{item.profesion}}</td>
          <td>{{item.lugarDeTrabajo}}</td>
          <td>{{item.resultadoEncuesta}}</td>
      </tr>
  </tbody>

  </table>