<a [routerLink]="['/logout']">Cerrar sesion</a>

<div class="container" *ngIf="route.children.length ==0 ">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Encuesta</h4>
                <input type="text" id="nombres" class="form-control input-sm chat-input" placeholder="nombre" [(ngModel)]="encuesta.nombres" />
                <input type="text" id="apellidos" class="form-control input-sm chat-input" placeholder="apellido" [(ngModel)]="encuesta.apellidos" />
                <input type="number" id="edad" class="form-control input-sm chat-input" placeholder="edad" [(ngModel)]="encuesta.edad" />
                <input type="text" id="profesion" class="form-control input-sm chat-input" placeholder="profesion" [(ngModel)]="encuesta.profesion" />
                <input type="text" id="lugarDeTrabajo" class="form-control input-sm chat-input"
                    placeholder="lugar de trabajo" [(ngModel)]="encuesta.lugarDeTrabajo" />
                <!-- Default unchecked -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" 
                    value="JAVA" id="java" name="defaultExampleRadios" [(ngModel)]="encuesta.resultadoEncuesta" >
                    <label class="custom-control-label" for="java">JAVA</label>
                </div>

                <!-- Default checked -->
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="c" name="defaultExampleRadios" 
                    value="C"
                    checked [(ngModel)]="encuesta.resultadoEncuesta" >
                    <label class="custom-control-label" for="c">C#</label>
                </div>

                <div class="wrapper">
                    <span class="group-btn">
                        <button (click)="guardar()" class="btn btn-primary btn-md">Guardar <i class="fa fa-sign-in"></i></button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>


<div *ngIf="route.children.length !==0 ">
    <router-outlet></router-outlet>
</div>
